# Entry Points
entryPoints:
  web:
    address: ":8080"
  
  traefik:
    address: ":8082"

# API & Dashboard
api:
  dashboard: true
  insecure: true

# Providers
providers:
  # File provider for manual configuration
  file:
    filename: "traefik-dynamic.yml"
    watch: true

  # Consul for service discovery
  consulCatalog:
    endpoint:
      address: "127.0.0.1:8500"
    exposedByDefault: false
    prefix: "traefik"
    defaultRule: "Host(`localhost`)"
    connectAware: false
    connectByDefault: false

# Logging
log:
  level: DEBUG
  format: common

accessLog:
  format: common

ping:
  entryPoint: "traefik"